@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

@layer base {
  :root {
    --font-family-base: theme(fontFamily.sans);

    --color-primary: theme(colors.blue.500);
    --color-primary-light: theme(colors.blue.50);
    --color-primary-dark: theme(colors.blue.700);

    --color-default: theme(colors.neutral.950);
    --color-dim: theme(colors.neutral.600);
    --color-secondary: theme(colors.neutral.700);
    --color-muted: theme(colors.neutral.500);
    --color-muted-light: theme(colors.neutral.300);
    --color-muted-dark: theme(colors.neutral.100);
    --color-inverted: theme(colors.neutral.0);
    --color-secondary-light: theme(colors.neutral.100);
    --color-secondary-dark: theme(colors.neutral.200);
    --color-surface: theme(colors.neutral.50);
  }

  .font-sans {
    --font-family-base: theme(fontFamily.sans);
  }

  .font-serif {
    --font-family-base: theme(fontFamily.serif);
  }

  .font-mono {
    --font-family-base: theme(fontFamily.mono);
  }

  .dark {
    --color-default: theme(colors.neutral.50);
    --color-dim: theme(colors.neutral.300);
    --color-secondary: theme(colors.neutral.200);
    --color-muted: theme(colors.neutral.400);
    --color-muted-light: theme(colors.neutral.600);
    --color-muted-dark: theme(colors.neutral.500);
    --color-inverted: theme(colors.neutral.950);
    --color-secondary-light: theme(colors.neutral.700);
    --color-secondary-dark: theme(colors.neutral.800);
    --color-surface: theme(colors.neutral.800);
  }
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  .error-text {
    @apply text-red-500 text-lg -mt-4;
  }
  .error-border {
    @apply border-red-500;
  }
  .disabled {
    @apply cursor-not-allowed bg-opacity-50 hover:opacity-50;
  }
}
