@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&display=swap");

@tailwind base;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
input {
  /* border: none; */
  /* outline: none; */
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  .error-text {
    @apply text-red-500 text-lg -mt-4;
  }
  .error-border {
    @apply border-red-500;
  }
  .disabled {
    @apply cursor-not-allowed bg-opacity-50 hover:opacity-50;
  }
}
